<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lws.device">
    <!-- For Network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- For Bluetooth Low Energy -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- For Camera  -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!-- For capture picture -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
</manifest>